{% extends 'index.html' %}
{% load widget_tweaks %}
{% block content %}

    <form method="POST" class="post-form form-horizontal">
	    {% csrf_token %}
{#	    <div class="input-group">#}
{#            {{ form.as_p }}#}
{#	    </div>#}
		<div style="margin-left: 30%; width: 600px; float: left; border-radius: 10px; margin-top: 40px; background-color: #1b6d85;">
		    <div class="form-group" style="margin: 2%;">
		        <label class="col-md-3 control-label" for="name" style="color: white;">Número de Camadas:</label>
		        <div class="col-md-9">
		          {% render_field form.num_camadas class+="form-control" placeholder="Numero de Camadas" %}
		          {% if form.num_camadas.errors %}
		          <div class="alert alert-danger" role="alert">{{form.num_camadas.errors}}</div>
		          {% endif %}
		        </div>
		    </div>
	        <div class="form-group" style="margin: 2%;">
		        <label class="col-md-3 control-label" for="name" style="color: white;">Aprendizado:</label>
		        <div class="col-md-9">
		          {% render_field form.learningrate class+="form-control" placeholder="Aprendizado" %}
		          {% if form.learningrate.errors %}
		          <div class="alert alert-danger" role="alert">{{form.learningrate.errors}}</div>
		          {% endif %}
		        </div>
		    </div>
	        <div class="form-group" style="margin: 2%;">
		        <label class="col-md-3 control-label" for="name" style="color: white;">Momentum:</label>
		        <div class="col-md-9">
		          {% render_field form.momentum class+="form-control" placeholder="Momentum" %}
		          {% if form.momentum.errors %}
		          <div class="alert alert-danger" role="alert">{{form.momentum.errors}}</div>
		          {% endif %}
		        </div>
		    </div>
	        <div class="form-group" style="margin: 2%;">
		        <label class="col-md-3 control-label" for="name" style="color: white;">Epocas:</label>
		        <div class="col-md-9">
		          {% render_field form.epochs class+="form-control" placeholder="Epocas" %}
		          {% if form.epochs.errors %}
		          <div class="alert alert-danger" role="alert">{{form.epochs.errors}}</div>
		          {% endif %}
		        </div>
		    </div>
	        <div class="form-group" style="margin: 2%;">
		        <label class="col-md-3 control-label" for="name" style="color: white;">Bias:</label>
		        <div class="col-md-9">
		          {% render_field form.bias class+="" %}
		          {% if form.bias.errors %}
		          <div class="alert alert-danger" role="alert">{{form.bias.errors}}</div>
		          {% endif %}
		        </div>
		    </div>

			<div class="form-group" style="margin: 2%;">
		        <label class="col-md-3 control-label" for="name" style="color: white;">Pesos:</label>
		        <div class="col-md-9">
		          {% render_field form.peso_start class+="form-control" placeholder="-1" %}
	              {% render_field form.peso_end class+="form-control" placeholder="1" %}
		          {% if form.peso_start.errors %}
		          <div class="alert alert-danger" role="alert">{{form.peso_start.errors}}</div>
		          {% endif %}
		        </div>
		    </div>

			<div class="form-group" style="margin: 2%;">
		        <label class="col-md-3 control-label" for="name" style="color: white;">Erro máximo:</label>
		        <div class="col-md-9">
		          {% render_field form.erro_max class+="form-control" placeholder="Erro máximo" %}
		          {% if form.erro_max.errors %}
		          <div class="alert alert-danger" role="alert">{{form.erro_max.errors}}</div>
		          {% endif %}
		        </div>
		    </div>

			<div class="form-group" style="margin: 2%;">
	            <div class="col-md-12 text-right">
	              <button type="submit" class="btn btn-primary btn-lg">Executar</button>
	            </div>
			</div>
		</div>
    </form>

{% endblock %}